* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "nav"
    "head"
    "main"
    "foot";
  grid-template-rows: 70px 100px auto 70px;
  min-height: 100vh;
}

header.filter {
  grid-area: head;
}
aside {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  background-color: #70c1b3;
}
aside i {
  margin-left: 20px;
}
aside a {
  display: none;
}
aside p {
  font-size: 18px;
  padding-left: 10px;
}
aside div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
aside i.sandwich {
  margin-right: 10px;
}
aside i.car {
  margin-top: 10px;
}
main {
  background-color: #f3ffbd;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  grid-area: foot;
  background-color: #247ba0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer i {
  padding: 3px;
}
footer p {
  margin: 0;
  padding: 3px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  gap: 40px;
}
.card {
  border-radius: 8px;
  margin: 10px;
  display: contents;
}
.cardPC,
.cardT {
  display: none;
  margin: 10px;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img img {
  max-width: 70%;
  max-height: 70%;
  border-radius: 8px;
  filter: grayscale(100%);
  transition: all 1s ease-out;
}
@keyframes imgAnimation {
  0% {
    filter: grayscale(80%);
  }
  25% {
    filter: grayscale(65%);
  }
  50% {
    filter: grayscale(50%);
    max-width: 100%;
    max-height: 100%;
    transform: rotate(360deg);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}
.card-img img:hover {
  animation: imgAnimation 5s;
}
.paginacion {
  display: inline-block;
  padding: 10px;
  margin: 0;
}
.paginacion a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd; /* Gray */
  transition: background-color 0.3s;
}
.paginacion a:hover {
  color: #ff1654;
}

.paginacion a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paginacion a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.filter {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #b2dbbf;
}
.filter div {
  margin: 0 20px 20px 20px;
}
.filter p {
  padding: 10px;
  font-size: 20px;
}

.filter select {
  min-width: 100%;
  padding: 10px;
  border-radius: 6px;
}

.lista {
  display: none;
  list-style-type: none;
}
.contacto > a {
  text-decoration: none;
  color: white;
}
/*Tablets*/
@media (min-width: 576px) and (max-width: 992px) {
  body {
    grid-template-areas:
      "nav nav"
      "head main"
      "foot foot";
    grid-template-rows: 60px auto 65px;
  }
  aside .sandwich {
    display: none;
  }

  aside > a {
    display: flex;
    justify-items: flex-end;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  aside a:hover {
    color: #ff1654;
  }
  .atributos {
    padding: 10px;
  }
  .products {
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px;
    gap: 20px;
  }

  .cardT {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: contents;
  }
}
/*PC*/
@media (min-width: 992px) {
  body {
    grid-template-areas:
      "nav head"
      "nav main"
      "foot main";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 170px auto;
  }
  aside .sandwich {
    display: none;
  }
  aside .car {
    margin: 10px 0 0 0;
  }
  aside {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  aside a {
    display: inline;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  aside a:hover {
    color: #ff1654;
  }

  .atributos {
    padding: 10px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
    padding: 0;
  }

  .cardT {
    display: contents;
  }
  .cardPC {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: contents;
  }

  .heart {
    color: red;
    display: flex;
    align-items: start;
  }
  footer p {
    text-align: center;
    padding: 10px;
  }
}
